$darkgray: #252B33;
$lightBlue: #29ABE2;
$lightGray: #AAABAE;
$white: #FFFFFF;

.subheader{
	background-color: $darkgray;
	height: 40px;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;

	&__title {
		padding-left:10px;
		color: $lightGray;
		font-family: 'Roboto';
		font-size: 24px;
	}
	&__title:hover {
		color: $white;
	}
	&__action {
		width: 70px;
	}
	&__button {
		position: relative;
		top: 20px;
		z-index: 1;
		margin: 0 16px;
		background-color: $lightBlue;
		color: $white;
	}
}
