<div class="subheader">
	<div class="subheader__action">
		<button (click)="route()"
			md-mini-fab
			class="subheader__button">
			<md-icon>{{addIcon}}</md-icon>
		</button>
	</div>
	<div>
		<h2 class="subheader__title">{{title}}</h2>
	</div>
</div>
